swagger: "2.0"
info:
  version: 1.0.0
  title: Simulation API
  description: An API for managing simulations within 3DSIM.
  termsOfService: https://3dsim.com
  contact:
    name: 3DSIM API Team
    email: support@3dsim.com
    url: https://3dsim.github.io
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: 3dsim.cloud.tyk.io
basePath: /simulation-api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /status:
    get:
      description: |
        Use this endpoint to check server status.
      operationId: status
      responses:
        "200":
          description: status response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /materials:
    get:
      description: Get list of materials
      operationId: getMaterials
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 materials in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: free text search on name and description
          required: false
          type: string
      responses:
        "200":
          description: Successfully found a list of materials available to the requestor
          schema:
            type: array
            items:
              $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Creates a new material for the organizationId specified
      operationId: addMaterial
      parameters:
        - name: material
          in: body
          description: Material to add
          required: true
          schema:
            $ref: '#/definitions/Material'
      responses:
        "200":
          description: material response
          schema:
            $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /materials/{id}:
    get:
      description: Returns a material based on a single ID
      operationId: findMaterialById
      parameters:
        - name: id
          in: path
          description: ID of material to fetch
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: material response
          schema:
            $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Material not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /materials/{id}/archive:
    put:
      description: archives a single material based on the ID supplied
      operationId: archiveMaterial
      parameters:
        - name: id
          in: path
          description: ID of material to archived
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: material that has been archived with active field cleared
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Material not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /machines:
    get:
      description: Get list of machines
      operationId: getMachineList
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 materials in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: free text search on name and description
          required: false
          type: string
      responses:
        "200":
          description: Successfully retrieved list of machines
          schema:
            type: array
            items:
              $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Update a machine. Not available for external consumers.
      operationId: putMachine
      parameters:
        - name: machine
          in: body
          required: true
          schema:
            $ref: '#/definitions/Machine'
      responses:
        "200":
          description: Machine was successfully updated.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Add a machine. Not available for external consumers.
      operationId: postMachine
      parameters:
      - name: machine
        in: body
        required: true
        schema:
          $ref: '#/definitions/Machine'
      responses:
        "200":
          description: Machine was successfully added.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /machines/{id}:
    get:
      description: Get a machine
      operationId: getMachine
      parameters:
      - name: id
        in: path
        description: machine identifier
        required: true
        type: integer
      responses:
        "200":
          description: Successfully retrieved machines
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /machines/{id}/archive:
    put:
      description: Archive a machine making it not available for use in a simulation (sets active property to false). Machine may be reactivated at later time using put with active equal to true.
      operationId: archiveMachine
      parameters:
      - name: id
        in: path
        description: machine identifier
        required: true
        type: integer
      responses:
        "200":
          description: Machine was successfully archived.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /parts:
    get:
      description: Get list of parts
      operationId: getParts
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get parts for.  Must be provided as API callers only have access to parts
            belonging to their organization.
          required: true
          type: string
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: availability
          in: query
          description: If specified, will filter to only include parts with the given availability.  Uploaded - the part has been uploaded.  Processing - the part
            is being processed.  Available - the part was processed successfully and can be used in simulations.  Error -
            an error occurred, contact support@3dsim.com.
          required: false
          type: string
          enum:
            - Uploaded
            - Processing
            - Available
            - Error
        - name: archived
          in: query
          description: If true, will only return archived parts.  If false, will only return unarchived parts.  If not
            provided, will return both archived and unarchived parts.
          required: false
          type: boolean
      responses:
        "200":
          description: Successfully found the list of parts
          schema:
            type: array
            items:
              $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Adds a part and starts processing the part.  When processing is finished, the "availability" field
        for the part will change to "Available".  See GET /parts.
      operationId: addParts
      parameters:
        - name: Part
          in: body
          description: Part to add. First, call parts/geometryurl to get a PartUploadRequest object.
            PUT the STL file AmazonS3 with the signed URL. Use the s3Key property as the value of fileLocation.
            A POST with this object will execute the part processing service.
          required: true
          schema:
            $ref: '#/definitions/PartPost'
      responses:
        "200":
          description: Successfully added a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Updates a Part
      operationId: UpdatePart
      parameters:
        - name: Part
          in: body
          description: Part to update.
          required: true
          schema:
            $ref: '#/definitions/Part'
      responses:
        "200":
          description: Successfully updated a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /parts/geometryuploadurl:
    get:
      description: Gets a time sensitive URL to upload a geometry file to AmazonS3.
      operationId: getNewPartGeometryUploadUrl
      responses:
        "200":
          description: Successfully returns a part geometry url for a new part upload
          schema:
            $ref: '#/definitions/PartUploadRequest'
        "403":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /parts/{id}:
    get:
      description: Get a single part by Id
      operationId: getPart
      parameters:
        - name: id
          in: path
          description: ID of part to get
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully found a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /parts/{id}/archive:
    put:
      description: Archive a Part. Archiving a part will set the status to archived and will exclude the part from get list requests. To unarchive a part call /parts/{id}, change the status and then /parts (put) to update.
      operationId: ArchivePart
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully archived a part
          schema:
            $ref: '#/definitions/Part'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /parts/{id}/geometryurl:
    get:
      description: Gets a time sensitive URL to the geometry file stored in AmazonS3.
      operationId: getPartGeometry
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns a part geometry url
          schema:
            type: string
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /porositysimulations:
    get:
      description: Gets a list of all porosity simulation
      operationId: getPorositySimulations
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: Filter objects based on fields in the object.  E.g. filter=name:my-simulation,state:running
          required: false
          type: string
      responses:
        "200":
          description: Successfully found the list of items
          schema:
            type: array
            items:
              $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Posts a new porosity simulation
      operationId: postPorositySimulation
      parameters:
        - name: PorositySimulationRequest
          in: body
          description: PorositySimulation fields required to add the simulation
          required: true
          schema:
            $ref: '#/definitions/PorositySimulationRequest'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /porositysimulations/{id}:
    get:
      description: Get a porosity simulation
      operationId: getPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /porositysimulations/{id}/cancel:
    put:
      description: Cancels a porosity simulation
      operationId: cancelPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /porositysimulations/{id}/start:
    put:
      description: Starts a porosity simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /singlebeadsimulations:
    get:
      description: Gets a list of all single bead simulations for the active user
      operationId: getSingleBeadSimulations
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: filter against available fields for the model
          required: false
          type: string
      responses:
        "200":
          description: Successfully found the list of items
          schema:
            type: array
            items:
              $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Posts a new single bead simulation
      operationId: postSingleBeadSimulation
      parameters:
        - name: SingleBeadSimulationRequest
          in: body
          description: SingleBeadSimulationRequest fields required to add the simulation
          required: true
          schema:
            $ref: '#/definitions/SingleBeadSimulationRequest'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /singlebeadsimulations/{id}:
    get:
      description: Get a single bead simulation
      operationId: getSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /singlebeadsimulations/{id}/cancel:
    put:
      description: Cancels a single bead simulation
      operationId: cancelSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /singlebeadsimulations/{id}/start:
    put:
      description: Starts a single bead simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /thermalsimulations:
    get:
      description: Gets a list of all thermal simulations for the active user
      operationId: getThermalSimulations
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: filter against available fields for the model
          required: false
          type: string
      responses:
        "200":
          description: Successfully found the list of items
          schema:
            type: array
            items:
              $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Posts a new thermal simulation
      operationId: postThermalSimulation
      parameters:
        - name: ThermalSimulationRequest
          in: body
          description: ThermalSimulationRequest fields required to add a simulation
          required: true
          schema:
            $ref: '#/definitions/ThermalSimulationRequest'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /thermalsimulations/{id}:
    get:
      description: Get a thermal simulation
      operationId: getThermalSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /thermalsimulations/{id}/cancel:
    put:
      description: Cancels a thermal simulation
      operationId: cancelThermalSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /thermalsimulations/{id}/start:
    put:
      description: Starts a thermal simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startThermalSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /assumedstrainsimulations:
    get:
      description: Gets a list of all assumed strain simulations for the active user
      operationId: getAssumedStrainSimulations
      parameters:
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: filter
          in: query
          description: filter against available fields for the model
          required: false
          type: string
      responses:
        "200":
          description: Successfully found the list of items
          schema:
            type: array
            items:
              $ref: '#/definitions/AssumedStrainSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      description: Posts a new assumed strain simulation
      operationId: postAssumedStrainSimulation
      parameters:
        - name: AssumedStrainSimulationRequest
          in: body
          description: AssumedStrainSimulationRequest fields required to add a simulation
          required: true
          schema:
            $ref: '#/definitions/AssumedStrainSimulationRequest'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/AssumedStrainSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /assumedstrainsimulations/{id}:
    get:
      description: Get a assumed strain simulation
      operationId: getAssumedStrainSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/AssumedStrainSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /assumedstrainsimulations/{id}/cancel:
    put:
      description: Cancels a assumed strain simulation
      operationId: cancelAssumedStrainSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /assumedstrainsimulations/{id}/start:
    put:
      description: Starts an assumed strain simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startAssumedStrainSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:
  Status:
    required:
      - status
    properties:
      status:
        type: string
        enum:
          - okay
          - problem
          - slow
      message:
        type: string

  SimulationCoreFields:
    required:
      - title
    properties:
      title:
        type: string
      description:
        type: string
      tags:
        type: array
        items:
          type: string

  Simulation:
    discriminator: simulationType
    allOf:
      - $ref: "#/definitions/SimulationCoreFields"
      - required:
        - simulationType
        properties:
          simulationType:
            type: string
            enum:
              - SingleBeadSimulation
              - PorositySimulation
              - ThermalSimulation
              - AssumedStrainSimulation
          id:
            type: integer
          organizationId:
            type: integer
          status:
            type: string
            enum:
              - draft
              - requested
              - simulating
              - completed
              - error
              - cancelled
          started:
            type: string
            format: dateTime
          startedBy:
            type: string
          completed:
            type: string
            format: dateTime
          percentComplete:
            type: number
          created:
            type: string
            format: dateTime
            description: created time stamp, set server-side, read only
          createdBy:
            type: string
            description: assigned user, set server-side, read only
          lastModified:
            type: string
            format: dateTime
            description: last modified time stamp, set server-side, read only
          lastModifiedBy:
            type: string
            description: assigned user, set server-side, read only

  PorositySimulationParameters:
    required:
      - geometryWidth
      - geometryLength
      - geometryHeight
      - startingLayerAngle
      - layerRotationAngle
      - layerThicknessValues
      - laserPowerValues
      - scanSpeedValues
      - hatchSpacingValues
      - slicingStripeWidthValues
      - originXValues
      - originYValues
      - usePeriodicAnalysis
    properties:
      geometryWidth:
        description: Must be between 0.001 to 0.01 meters
        type: number
        minimum: 0.001
        maximum: 0.01
        exclusiveMinimum: false
        exclusiveMaximum: false
      geometryLength:
        description: Must be between 0.001 to 0.01 meters
        type: number
        minimum: 0.001
        maximum: 0.01
        exclusiveMinimum: false
        exclusiveMaximum: false
      geometryHeight:
        description: Must be between 0.001 to 0.01 meters
        type: number
        minimum: 0.001
        maximum: 0.01
        exclusiveMinimum: false
        exclusiveMaximum: false
      startingLayerAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
        exclusiveMinimum: false
        exclusiveMaximum: false
      layerRotationAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
        exclusiveMinimum: false
        exclusiveMaximum: false
      layerThicknessValues:
        description: Array of layer thickness values to simulate across, Each value must be between 0.00001 to 0.0001 meters
        type: array
        items:
          type: number
          minimum: 0.00001
          maximum: 0.0001
          exclusiveMinimum: false
          exclusiveMaximum: false
      laserPowerValues:
        description: Array of laser power values to simulate across, Each value must be between 10 to 1000 watts
        type: array
        items:
          type: number
          minimum: 10
          maximum: 1000
          exclusiveMinimum: false
          exclusiveMaximum: false
      scanSpeedValues:
        description: Array of scan speed values to simulate across, Each value must be between 0.01 to 10 meters/second
        type: array
        items:
          type: number
          minimum: 0.01
          maximum: 10
          exclusiveMinimum: false
          exclusiveMaximum: false
      hatchSpacingValues:
        description: Array of hatch spacing values to simulate across, Each value must be between 0.00001 to 0.001 meters
        type: array
        items:
          type: number
          minimum: 0.00001
          maximum: 0.001
          exclusiveMinimum: false
          exclusiveMaximum: false
      slicingStripeWidthValues:
        description: Array of slicing strip width values to simulate across, Each value must be between 0.001 to 0.1 meters
        type: array
        items:
          type: number
          minimum: 0.001
          maximum: 0.1
          exclusiveMinimum: false
          exclusiveMaximum: false
      originXValues:
        description: Array of origin x values to simulate across, Each value must be between 0 to 0.2 meters
        type: array
        items:
          type: number
          minimum: 0
          maximum: 0.2
          exclusiveMinimum: false
          exclusiveMaximum: false
      originYValues:
        description: Array of origin y values to simulate across, Each value must be between 0 to 0.2 meters
        type: array
        items:
          type: number
          minimum: 0
          maximum: 0.2
          exclusiveMinimum: false
          exclusiveMaximum: false
      usePeriodicAnalysis:
        type: boolean

  PorositySimulationRequest:
    allOf:
      - $ref: "#/definitions/SimulationCoreFields"
      - $ref: "#/definitions/PorositySimulationParameters"

  PorositySimulation:
    allOf:
      - $ref: "#/definitions/Simulation"
      - $ref: "#/definitions/PorositySimulationParameters"

  SingleBeadSimulationParameters:
    required:
      - beadLength
      - layerThickness
      - laserPowerValues
      - scanSpeedValues
      - powderThermalConductivityValues
      - powderPackingDensityValues
      - meanFreePathInPowderValues
      - meanFreePathInSolidValues
      - laserAbsorptivityInPowderValues
      - laserAbsorptivityInSolidValues
      - solidusTemperatureValues
      - liquidusTemperatureValues
    properties:
      beadLength:
        description: Must be between 0.001 to 0.01 meters
        type: number
        minimum: 0.001
        maximum: 0.01
        exclusiveMinimum: false
        exclusiveMaximum: false
      layerThickness:
        description: Must be between 0.00001 to 0.0001 meters
        type: number
        minimum: 0.00001
        maximum: 0.0001
        exclusiveMinimum: false
        exclusiveMaximum: false
      laserPowerValues:
        description: Array of laser power values to simulate across, Each value must be between 10 to 1000 watts
        type: array
        items:
          type: number
          minimum: 10
          maximum: 1000
          exclusiveMinimum: false
          exclusiveMaximum: false
      scanSpeedValues:
        description: Array of scan speed values to simulate across, Each value must be between 0.01 to 10 meters/second
        type: array
        items:
          type: number
          minimum: 0.01
          maximum: 10
          exclusiveMinimum: false
          exclusiveMaximum: false
      powderThermalConductivityValues:
        description: Array of Powder Thermal Conductivity Percentage Values to simulate across, Each value must be between 0% and 100%, expressed as a decimal
        type: array
        items:
          type: number
          minimum: 0
          maximum: 1
          exclusiveMinimum: false
          exclusiveMaximum: false
      powderPackingDensityValues:
        description: Array of Powder Packing Density Percentage Values to simulate across, Each value must be between 0% and 100%, expressed as a decimal
        type: array
        items:
          type: number
          minimum: 0
          maximum: 1
          exclusiveMinimum: false
          exclusiveMaximum: false
      meanFreePathInPowderValues:
        description: Array of Mean Free Path of Laser in Powder Values to simulate across, Each value must be between 0 and 1.25e5
        type: array
        items:
          type: number
          minimum: 0
          maximum: 125000
          exclusiveMinimum: false
          exclusiveMaximum: false
      meanFreePathInSolidValues:
        description: Array of Mean Free Path of Laser in Solid Values to simulate across, Each value must be between 0 and 1.25e5
        type: array
        items:
          type: number
          minimum: 0
          maximum: 125000
          exclusiveMinimum: false
          exclusiveMaximum: false
      laserAbsorptivityInPowderValues:
        description: Array of Powder Laser Absorptivity Values to simulate across, Each value must be between 0% and 100%, expressed as a decimal
        type: array
        items:
          type: number
          minimum: 0
          maximum: 1
          exclusiveMinimum: false
          exclusiveMaximum: false
      laserAbsorptivityInSolidValues:
        description: Array of Solid Laser Absorptivity Values to simulate across, Each value must be between 0% and 100%, expressed as a decimal
        type: array
        items:
          type: number
          minimum: 0
          maximum: 1
          exclusiveMinimum: false
          exclusiveMaximum: false
      solidusTemperatureValues:
        description: Array of Solidus Temperature Values Values to simulate across
        type: array
        items:
          type: number
      liquidusTemperatureValues:
        description: Array of Liquidus Temperature Values Values to simulate across
        type: array
        items:
          type: number

  SingleBeadSimulationRequest:
    allOf:
      - $ref: "#/definitions/SimulationCoreFields"
      - $ref: "#/definitions/SingleBeadSimulationParameters"

  SingleBeadSimulation:
    allOf:
      - $ref: "#/definitions/Simulation"
      - $ref: "#/definitions/SingleBeadSimulationParameters"

  AssumedStrainSimulationParameters:
    required:
      - layerThickness
      - hatchSpacing
      - laserWattage
      - scanSpeed
      - supportAngle
      - supportFactorOfSafety
      - minimumWallThickness
      - maximumWallThickness
      - minimumWallDistance
      - maximumWallDistance
      - minimumSupportHeight
      - slicingStripeWidth
      - voxelSize
      - startingLayerAngle
      - layerRotationAngle
      - usePeriodicAnalysis
      - supportOptimization
      - outputStateMap
      - outputShrinkage
      - assumedStrain
      - anisotropicStrainCoefficientsParallel
      - anisotropicStrainCoefficientsPerpendicular
      - anisotropicStrainCoefficientsZ
      - supportYieldStrength
      - supportYieldStrengthRatio
      - elasticModulus
      - poissonRatio
      - relaxationFactor
    properties:
      layerThickness:
        description: Must be between 0.00001 to 0.0001 meters
        type: number
        minimum: 0.00001
        maximum: 0.0001
      hatchSpacing:
        description: Must be between 0.00001 to 0.001 meters
        type: number
        minimum: 0.00001
        maximum: 0.001
      laserWattage:
        description: Must be between 10 to 1000 watts
        type: number
        minimum: 10
        maximum: 1000
      scanSpeed:
        description: Must be between 0.01 to 10 meters/second
        type: number
        minimum: 0.01
        maximum: 10
      supportAngle:
        description: Must be between 1 to 89 degrees
        type: number
        minimum: 1
        maximum: 89
      supportFactorOfSafety:
        description: Multiplier for support calculations, Must be between 0.1 to 10
        type: number
        minimum: 0.1
        maximum: 10
      minimumWallThickness:
        description: Must be between 0.00005 to 0.0003 meters, Must be less than maximumWallThickness
        type: number
        minimum: 0.00005
        maximum: 0.0003
      maximumWallThickness:
        description: Must be between 0.00015 to 0.002 meters, Must be greater than minimumWallThickness
        type: number
        minimum: 0.00015
        maximum: 0.002
      minimumWallDistance:
        description: Must be between 0 to 0.0003 meters, Must be less than maximumWallDistance
        type: number
        minimum: 0
        maximum: 0.0003
      maximumWallDistance:
        description: Must be between 0 to 0.005 meters, Must be greater than minimumWallDistance
        type: number
        minimum: 0
        maximum: 0.005
      minimumSupportHeight:
        description: Distance to move the part off the base plate for supports, Must be between 0 to 0.005 meters
        type: number
        minimum: 0
        maximum: 0.005
      slicingStripeWidth:
        description: Must be between 0.001 to 0.1 meters
        type: number
        minimum: 0.001
        maximum: 0.1
      voxelSize:
        description: Must be between 0.00002 to 0.002 meters
        type: number
        minimum: 0.00002
        maximum: 0.002
      startingLayerAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
      layerRotationAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
      usePeriodicAnalysis:
        type: boolean
      supportOptimization:
        type: boolean
      outputStateMap:
        type: boolean
      outputShrinkage:
        type: boolean
      assumedStrain:
        type: number
      anisotropicStrainCoefficientsParallel:
        type: number
      anisotropicStrainCoefficientsPerpendicular:
        type: number
      anisotropicStrainCoefficientsZ:
        type: number
      supportYieldStrength:
        type: number
      supportYieldStrengthRatio:
        type: number
      elasticModulus:
        type: number
      poissonRatio:
        type: number
      relaxationFactor:
        type: number

  AssumedStrainSimulationRequest:
    allOf:
      - $ref: "#/definitions/SimulationCoreFields"
      - $ref: "#/definitions/AssumedStrainSimulationParameters"

  AssumedStrainSimulation:
    allOf:
      - $ref: "#/definitions/Simulation"
      - $ref: "#/definitions/AssumedStrainSimulationParameters"

  ThermalSimulationParameters:
    required:
      - layerThickness
      - hatchSpacing
      - laserWattage
      - scanSpeed
      - supportAngle
      - supportFactorOfSafety
      - minimumWallThickness
      - maximumWallThickness
      - minimumWallDistance
      - maximumWallDistance
      - minimumSupportHeight
      - slicingStripeWidth
      - voxelSize
      - startingLayerAngle
      - layerRotationAngle
      - usePeriodicAnalysis
      - supportOptimization
      - outputStateMap
      - outputShrinkage
      - assumedStrain
      - anisotropicStrainCoefficientsParallel
      - anisotropicStrainCoefficientsPerpendicular
      - anisotropicStrainCoefficientsZ
      - supportYieldStrength
      - supportYieldStrengthRatio
      - elasticModulus
      - poissonRatio
      - relaxationFactor
    properties:
      layerThickness:
        description: Must be between 0.00001 to 0.0001 meters
        type: number
        minimum: 0.00001
        maximum: 0.0001
      hatchSpacing:
        description: Must be between 0.00001 to 0.001 meters
        type: number
        minimum: 0.00001
        maximum: 0.001
      laserWattage:
        description: Must be between 10 to 1000 watts
        type: number
        minimum: 10
        maximum: 1000
      scanSpeed:
        description: Must be between 0.01 to 10 meters/second
        type: number
        minimum: 0.01
        maximum: 10
      supportAngle:
        description: Must be between 1 to 89 degrees
        type: number
        minimum: 1
        maximum: 89
      supportFactorOfSafety:
        description: Multiplier for support calculations, Must be between 0.1 to 10
        type: number
        minimum: 0.1
        maximum: 10
      minimumWallThickness:
        description: Must be between 0.00005 to 0.0003 meters, Must be less than maximumWallThickness
        type: number
        minimum: 0.00005
        maximum: 0.0003
      maximumWallThickness:
        description: Must be between 0.00015 to 0.002 meters, Must be greater than minimumWallThickness
        type: number
        minimum: 0.00015
        maximum: 0.002
      minimumWallDistance:
        description: Must be between 0 to 0.0003 meters, Must be less than maximumWallDistance
        type: number
        minimum: 0
        maximum: 0.0003
      maximumWallDistance:
        description: Must be between 0 to 0.005 meters, Must be greater than minimumWallDistance
        type: number
        minimum: 0
        maximum: 0.005
      minimumSupportHeight:
        description: Distance to move the part off the base plate for supports, Must be between 0 to 0.005 meters
        type: number
        minimum: 0
        maximum: 0.005
      slicingStripeWidth:
        description: Must be between 0.001 to 0.1 meters
        type: number
        minimum: 0.001
        maximum: 0.1
      voxelSize:
        description: Must be between 0.00002 to 0.002 meters
        type: number
        minimum: 0.00002
        maximum: 0.002
      startingLayerAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
      layerRotationAngle:
        description: Must be between 0 to 180 degrees
        type: number
        minimum: 0
        maximum: 180
      usePeriodicAnalysis:
        type: boolean
      supportOptimization:
        type: boolean
      outputStateMap:
        type: boolean
      outputShrinkage:
        type: boolean
      assumedStrain:
        type: number
      anisotropicStrainCoefficientsParallel:
        type: number
      anisotropicStrainCoefficientsPerpendicular:
        type: number
      anisotropicStrainCoefficientsZ:
        type: number
      supportYieldStrength:
        type: number
      supportYieldStrengthRatio:
        type: number
      elasticModulus:
        type: number
      poissonRatio:
        type: number
      relaxationFactor:
        type: number

  ThermalSimulationRequest:
    allOf:
      - $ref: "#/definitions/SimulationCoreFields"
      - $ref: "#/definitions/ThermalSimulationParameters"

  ThermalSimulation:
    allOf:
      - $ref: "#/definitions/Simulation"
      - $ref: "#/definitions/ThermalSimulationParameters"

  Material:
    type: object
    required:
      - id
      - name
      - organizationId
      - active
      - scientificProperties
    properties:
      id:
        type: integer
      name:
        type: string
      key:
        type: string
      description:
        type: string
      organizationId:
        type: integer
      active:
        type: boolean
      scientificProperties:
        type: object
        required:
          - meanFreePathOfLaserInPowder
          - meanFreePathOfLaserInBulk
          - powderToSolidThermalConductivityRatio
          - powderToSolidSpecificHeatRatio
          - powderToSolidDensityRatio
          - solidThermalConductivityAtRoomTemperature
          - solidDensityAtRoomTemperature
          - solidSpecificHeatAtRoomTemperature
          - vaporizationLatentHeat
          - fusionLatentHeat
          - purgingGasConvectionCoefficient
          - solidusTemperature
          - liquidusTemperature
          - vaporizationTemperature
          - vaporizationStartTemperature
          - solidStateTransitionTemperature
          - energyAbsorbingRateByPowder
          - energyAbsorbingRateBySolid
          - thermalExpansionCoefficient
          - elasticModulus
          - elasticModulusOfBase
          - poissonRatio
          - materialYieldStrength
          - supportYieldStrengthRatio
          - materialStrainSensitivity
          - surfaceTension
          - atomicWeight
          - assumedStrain
          - strainPlasticityRelaxationFactor
          - anisotropicStrainCoefficients
        properties:
          meanFreePathOfLaserInPowder:
            type: number
            format: double
          meanFreePathOfLaserInBulk:
            type: number
            format: double
          powderToSolidThermalConductivityRatio:
            type: number
            format: double
          powderToSolidSpecificHeatRatio:
            type: number
            format: double
          powderToSolidDensityRatio:
            type: number
            format: double
          solidThermalConductivityAtRoomTemperature:
            type: number
            format: double
          solidDensityAtRoomTemperature:
            type: number
            format: double
          solidSpecificHeatAtRoomTemperature:
            type: number
            format: double
          vaporizationLatentHeat:
            type: number
            format: double
          fusionLatentHeat:
            type: number
            format: double
          purgingGasConvectionCoefficient:
            type: number
            format: double
          solidusTemperature:
            type: number
            format: double
          liquidusTemperature:
            type: number
            format: double
          vaporizationTemperature:
            type: number
            format: double
          vaporizationStartTemperature:
            type: number
            format: double
          solidStateTransitionTemperature:
            type: number
            format: double
          energyAbsorbingRateByPowder:
            type: number
            format: double
          energyAbsorbingRateBySolid:
            type: number
            format: double
          thermalExpansionCoefficient:
            type: number
            format: double
          elasticModulus:
            type: number
            format: double
          elasticModulusOfBase:
            type: number
            format: double
          poissonRatio:
            type: number
            format: double
          materialYieldStrength:
            type: number
            format: double
          supportYieldStrengthRatio:
            type: number
            format: double
          materialStrainSensitivity:
            type: number
            format: double
          surfaceTension:
            type: number
            format: double
          atomicWeight:
            type: number
            format: double
          assumedStrain:
            type: number
            format: double
          strainPlasticityRelaxationFactor:
            type: number
            format: double
          anisotropicStrainCoefficients:
            type: number
            format: double
      created:
        type: string
        format: dateTime
        description: created time stamp, set server-side, read only
      createdBy:
        type: string
        description: assigned user, set server-side, read only
      lastModified:
        type: string
        format: dateTime
        description: last modified time stamp, set server-side, read only
      lastModifiedBy:
        type: string
        description: assigned user, set server-side, read only

  Part:
    type: object
    required:
      - id
      - organizationId
      - name
    properties:
      id:
        type: integer
        description: Id of the part
      organizationId:
        type: integer
        description: Id of the organization that owns this part record
      name:
        type: string
      description:
        type: string
      tags:
        type: array
        items:
          type: string
      fileLocation:
        type: string
        description:  Remote path (s3 key) of part. (read only).
      availability:
        description: Describes the availabity of the part. Uploaded - the part has been uploaded.  Processing - the part
          is being processed.  Available - the part was processed successfully and can be used in simulations.  Error -
          an error occurred, contact support@3dsim.com.
        type: string
        enum:
          - Uploaded
          - Processing
          - Available
          - Error
      archived:
        description: Designates whether this entity has been archived.
        type: boolean
      locationX:
        type: number
        description: x location (in meters) where the lower left corner of the bounding box of the part will be placed on the bed, calculated when the part is processed, use 0 for initial post
      locationY:
        type: number
        description: y location (in meters) where the lower left corner of the bounding box of the part will be placed on the bed, calculated when the part is processed, use 0 for initial post
      sizeX:
        type: number
        description: Width of the Part bounding box (in meters), calculated when the part is processed, use 0 for initial post
      sizeY:
        type: number
        description: Length of the Part bounding box (in meters), calculated when the part is processed, use 0 for initial post
      sizeZ:
        type: number
        description: Height of the Part bounding box (in meters), calculated when the part is processed, use 0 for initial post
      numberOfTriangles:
        type: integer
        description: Number of triangles in the original STL file, calculated when the part is processed, use 0 for initial post
      volume:
        type: number
        description: Approximate volume of the Part (in meters^3), calculated when the part is processed, use 0 for initial post
      created:
        type: string
        format: dateTime
        description: created time stamp, set server-side, read only
      createdBy:
        type: string
        description: assigned user, set server-side, read only
      lastModified:
        type: string
        format: dateTime
        description: last modified time stamp, set server-side, read only
      lastModifiedBy:
        type: string
        description: assigned user, set server-side, read only

  PartPost:
    type: object
    required:
      - organizationId
      - name
      - fileLocation
    properties:
      organizationId:
        type: integer
        description: Id of the organization that owns this part record
      name:
        description: Name of the part, max 50 characters
        type: string
      description:
        description: Free form description of the part, max 2048 characters
        type: string
      tags:
        type: array
        description: Tags can be used for any purpose. Max length of serialized json is 256 characters.
        items:
          type: string
      fileLocation:
        type: string
        description: Remote s3 key of a newly uploaded stl file.  Use parts/geometryurl endpoint to upload the part before calling POST.  Max length 256 characters.

  Machine:
    type: object
    required:
      - name
      - description
      - active
    properties:
      id:
        type: integer
        description: machine identifier
      name:
        type: string
        description: machine name
      description:
        type: string
        description: machine description
      processProperties:
        type: object
        description: parameters associated with machine operation
        required:
          - hatchSpacing
          - beamDiameter
          - laserWattage
          - laserWaveLength
          - scanSpeed
          - timeDiscretizationDuringScanning
          - coolingToScanningTimeIncrementRatio
          - totalCoolingTime
          - heaterTemperature
        properties:
          hatchSpacing:
            type: number
            format: double
            description: distance between hatch lines in meters
          beamDiameter:
            type: number
            format: double
            description: diameter of laser beam in meters
          laserWattage:
            type: number
            format: double
            description: laser power in watts
          laserWaveLength:
            type: number
            format: double
            description: laser light wavelength in meters
          scanSpeed:
            type: number
            format: double
            description: speed at which laser travels in meters per second
          timeDiscretizationDuringScanning:
            type: number
            format: double
            description: in seconds
          coolingToScanningTimeIncrementRatio:
            type: integer
            description: ratio between cooling to scanning time
          totalCoolingTime:
            type: number
            format: double
            description: cooling time prior to deposition of next powder layer
          heaterTemperature:
            type: number
            format: double
            description: heater temperature in degrees kelvin
      active:
        type: boolean
        description: true if machine can be used for simlation, false if machine has been archived
      key:
        type: string
        description: key associated with this machine
      version:
        type: string
        description: version number of this machine, read only
      created:
        type: string
        format: dateTime
        description: created time stamp, set server-side, read only
      createdBy:
        type: string
        description: assigned user, set server-side, read only
      lastModified:
        type: string
        format: dateTime
        description: last modified time stamp, set server-side, read only
      lastModifiedBy:
        type: string
        description: assigned user, set server-side, read only

  PartUploadRequest:
    properties:
      signedURL:
        type: string
      s3Key:
        type: string

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
