swagger: "2.0"
info:
  version: 1.1.0
  title: Simulation API
  description: An API for managing simulations within 3DSIM.
  termsOfService: https://3dsim.com
  contact:
    name: 3DSIM API Team
    email: support@3dsim.com
    url: https://3dsim.github.io
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
host: 3dsim.cloud.tyk.io
basePath: /simulation-api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /status:
    get:
      description: |
        Use this endpoint to check server status.
      operationId: status
      responses:
        "200":
          description: status response
          schema:
            $ref: '#/definitions/Status'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

  /materials:
    get:
      description: Get list of materials
      operationId: getMaterials
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: archived
          in: query
          description: If true, will only return archived items.  If false, will only return unarchived items.  If not
            provided, will return both archived and unarchived items.
          required: false
          type: boolean
      responses:
        "200":
          description: Successfully retrieved list
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:materials
    post:
      description: Creates a new material for the organizationId specified
      operationId: addMaterial
      parameters:
        - name: material
          in: body
          description: Material to add
          required: true
          schema:
            $ref: '#/definitions/Material'
      responses:
        "200":
          description: material response
          schema:
            $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:materials

  /materials/{id}:
    get:
      description: Returns a material based on a single ID
      operationId: getMaterial
      parameters:
        - name: id
          in: path
          description: ID of material to fetch
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: material response
          schema:
            $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Material not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:materials

    put:
      description: Update a material
      operationId: updateMaterial
      parameters:
        - name: id
          in: path
          description: material identifier
          required: true
          type: integer
          format: int32
        - name: material
          in: body
          required: true
          schema:
            $ref: '#/definitions/Material'
      responses:
        "200":
          description: Material was successfully updated.
          schema:
            $ref: '#/definitions/Material'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Material not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:materials

  /materials/{id}/archive:
    put:
      description: archives a single material based on the ID supplied
      operationId: archiveMaterial
      parameters:
        - name: id
          in: path
          description: ID of material to archive
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: material that has been archived with active field cleared
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Material not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:materials

  /machines:
    get:
      description: Get list of machines
      operationId: getMachines
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: archived
          in: query
          description: If true, will only return archived parts.  If false, will only return unarchived parts.  If not
            provided, will return both archived and unarchived parts.
          required: false
          type: boolean
      responses:
        "200":
          description: Successfully retrieved list of machines
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:machines

    post:
      description: Add a machine
      operationId: postMachine
      parameters:
      - name: machine
        in: body
        required: true
        schema:
          $ref: '#/definitions/Machine'
      responses:
        "200":
          description: Machine was successfully added.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:machines

  /machines/{id}:
    get:
      description: Get a machine
      operationId: getMachine
      parameters:
      - name: id
        in: path
        description: machine identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Successfully retrieved the requested machine
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:machines

    put:
      description: Update a machine
      operationId: putMachine
      parameters:
        - name: id
          in: path
          description: machine identifier
          required: true
          type: integer
          format: int32
        - name: machine
          in: body
          required: true
          schema:
            $ref: '#/definitions/Machine'
      responses:
        "200":
          description: Machine was successfully updated.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:machines

  /machines/{id}/archive:
    put:
      description: Archive a machine, making it not available for use in a simulation (sets archived property to true)
      operationId: archiveMachine
      parameters:
      - name: id
        in: path
        description: machine identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Machine was successfully archived.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:machines

  /machines/{id}/unarchive:
    put:
      description: Unarchive a machine, making it available for use in a simulation (sets archived property to false)
      operationId: unarchiveMachine
      parameters:
      - name: id
        in: path
        description: machine identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Machine was successfully unarchived.
          schema:
            $ref: '#/definitions/Machine'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Machine not found (id invalid)
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:machines

  /parts:
    get:
      description: Get list of parts
      operationId: getParts
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: availability
          in: query
          description: If specified, will filter to only include parts with the given availability.  Uploaded - the part has been uploaded.  Processing - the part
            is being processed.  Available - the part was processed successfully and can be used in simulations.  Error -
            an error occurred, contact support@3dsim.com.
          required: false
          type: string
          enum:
            - Uploaded
            - Processing
            - Available
            - Error
        - name: archived
          in: query
          description: If true, will only return archived parts.  If false, will only return unarchived parts.  If not
            provided, will return both archived and unarchived parts.
          required: false
          type: boolean
      responses:
        "200":
          description: Successfully found the list of parts
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts
    post:
      description: Adds a part and starts processing the part.  When processing is finished, the "availability" field
        for the part will change to "Available".  See GET /parts.
      operationId: addParts
      parameters:
        - name: Part
          in: body
          description: Part to add. First, call parts/geometryurl to get a PartUploadRequest object.
            PUT the STL file AmazonS3 with the signed URL. Use the s3Key property as the value of fileLocation.
            A POST with this object will execute the part processing service.
          required: true
          schema:
            $ref: '#/definitions/PartPost'
      responses:
        "200":
          description: Successfully added a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/geometryuploadurl:
    get:
      description: Gets a time sensitive URL to upload a geometry file to AmazonS3.
      operationId: getNewPartGeometryUploadUrl
      responses:
        "200":
          description: Successfully returns a part geometry url for a new part upload
          schema:
            $ref: '#/definitions/PartUploadRequest'
        "403":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{id}:
    get:
      description: Get a single part by Id
      operationId: getPart
      parameters:
        - name: id
          in: path
          description: ID of part to get
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully found a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts
    patch:
      description: Update fields within a part
      operationId: patchPart
      parameters:
        - name: id
          in: path
          description: ID of part to update
          required: true
          type: integer
          format: int32
        - name: partPatch
          in: body
          description: This endpoint uses JSON Patch, RFC 6092.
          required: true
          schema:
              type: array
              items:
                $ref: '#/definitions/PatchDocument'
      responses:
        "200":
          description: Patched part
          schema:
            $ref: '#/definitions/Part'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Part not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts
    delete:
      description: This will delete a part and all its associated geometry files
      operationId: DeletePart
      parameters:
        - name: id
          in: path
          description: ID of a part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a part
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts
    put:
      description: Updates a Part
      operationId: UpdatePart
      parameters:
        - name: id
          in: path
          description: ID of a part
          required: true
          type: integer
          format: int32
        - name: Part
          in: body
          description: Part to update.
          required: true
          schema:
            $ref: '#/definitions/Part'
      responses:
        "200":
          description: Successfully updated a part
          schema:
            $ref: '#/definitions/Part'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{id}/archive:
    put:
      description: Archive a Part. Archiving a part will set the status to archived and will exclude the part from get list requests. To unarchive a part call /parts/{id}, change the status and then /parts (put) to update.
      operationId: ArchivePart
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully archived a part
          schema:
            $ref: '#/definitions/Part'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{id}/geometryurl:
    get:
      description: Gets a time sensitive URL to the geometry file stored in AmazonS3.
      operationId: getPartGeometryUrl
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns a part geometry url
          schema:
            $ref: '#/definitions/PartGeometryUrl'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts

  /parts/{id}/geometry:
    get:
      description: Gets a list of triangles for the geometry file stored in AmazonS3.
      operationId: getPartGeometry
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns a part geometry triangles
          schema:
            type: array
            items:
              $ref: '#/definitions/Triangle'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts

  /parts/{partId}/supports/{supportId}:
    get:
      description: Get a single support by Id
      operationId: getPartSupport
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support to get
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully found a support
          schema:
            $ref: '#/definitions/PartSupport'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts
    patch:
      description: Update fields within a support
      operationId: patchPartSupport
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support to get
          required: true
          type: integer
          format: int32
        - name: partSupportPatch
          in: body
          description: This endpoint uses JSON Patch, RFC 6092.
          required: true
          schema:
              type: array
              items:
                $ref: '#/definitions/PatchDocument'
      responses:
        "200":
          description: Patched part support
          schema:
            $ref: '#/definitions/PartSupport'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Part not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts
    delete:
      description: This will delete a support and all its associated geometry files
      operationId: DeletePartSupport
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support to get
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a part support
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts
    put:
      description: Updates a Support
      operationId: updatePartSupport
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support to get
          required: true
          type: integer
          format: int32
        - name: PartSupport
          in: body
          description: PartSupport to update.
          required: true
          schema:
            $ref: '#/definitions/PartSupport'
      responses:
        "200":
          description: Successfully updated a part support
          schema:
            $ref: '#/definitions/PartSupport'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{partId}/supports:
    post:
      description: Adds a support and starts processing the support.  When processing is finished, the "availability" field
        for the part will change to "Available".
      operationId: postPartSupport
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: PartPost
          in: body
          description: Support to add. First, call parts/:partId/supports/geometryurl to get a PartUploadRequest object.
            PUT the STL file AmazonS3 with the signed URL. Use the s3Key property as the value of fileLocation.
            A POST with this object will execute the part processing service.
          required: true
          schema:
            $ref: '#/definitions/PartSupportPost'
      responses:
        "200":
          description: Successfully added a part support
          schema:
            $ref: '#/definitions/PartSupport'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{partId}/supports/geometryuploadurl:
    get:
      description: Gets a time sensitive URL to upload a support geometry file to AmazonS3.
      operationId: SupportGeometryUploadUrl
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns a part support geometry url for a new support upload
          schema:
            $ref: '#/definitions/PartUploadRequest'
        "403":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:parts

  /parts/{partId}/supports/{supportId}/geometryurl:
    get:
      description: Gets a time sensitive URL to the geometry file stored in AmazonS3.
      operationId: PartSupportGeometryUrl
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns a support geometry url
          schema:
            $ref: '#/definitions/PartGeometryUrl'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts

  /parts/{partId}/supports/{supportId}/geometry:
    get:
      description: Gets a list of triangles for the geometry file stored in AmazonS3.
      operationId: PartSupportGeometry
      parameters:
        - name: partId
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
        - name: supportId
          in: path
          description: ID of support
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully returns support geometry triangles
          schema:
            type: array
            items:
              $ref: '#/definitions/Triangle'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts

  /supports/{id}:
    get:
      description: Get a single support by Id
      operationId: getPartSupportById
      parameters:
        - name: id
          in: path
          description: ID of support to get
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully found a support
          schema:
            $ref: '#/definitions/PartSupport'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:parts

  /simulations:
    get:
      description: Gets a list of all simulations
      operationId: getSimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
        - name: archived
          in: query
          description: True to get only archived simulations, False to get only unarchived simulations, leave the parameter off to get all simulation types
          required: false
          type: boolean
        - name: partId
          in: query
          description: returns simulations using the specified part id
          required: false
          type: integer
          format: int32
        - name: supportId
          in: query
          description: returns simulations using the specified part support id
          required: false
          type: integer
          format: int32
        - name: buildFileId
          in: query
          description: returns simulations using the specified build file id
          required: false
          type: integer
          format: int32
        - name: isParent
          in: query
          description: returns either parent (true) or child (false) simulations
          required: false
          type: boolean
        - name: requiresLicense
          in: query
          description: returns simulations that require licence
          required: false
          type: boolean
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/Simulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /simulations/{id}:
    get:
      description: Get a simulation
      operationId: getSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/Simulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    patch:
      description: Patch a simulation
      operationId: patchSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      - name: simulationPatch
        in: body
        description: This endpoint uses JSON Patch, RFC 6092.
        required: true
        schema:
            type: array
            items:
              $ref: '#/definitions/PatchDocument'
      responses:
        "200":
          description: Successfully patched simulation
          schema:
            $ref: '#/definitions/Simulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/cancel:
    put:
      description: Request a cancellation of a simulation.
      operationId: RequestCancellation
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully requested cancellation
          schema:
            $ref: '#/definitions/Part'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/cancelled:
    put:
      description: Confirms full cancellation of an active simulation.
      operationId: ConfirmCancellation
      parameters:
        - name: id
          in: path
          description: ID of part
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully set status to cancelled
          schema:
            $ref: '#/definitions/Part'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/children:
    get:
      description: Gets a list of all child simulations for a parent simulation
      operationId: getSimulationChildren
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/Simulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /simulations/{id}/logs:
    get:
      description: Gets a list of all logs for a simulation
      operationId: getSimulationLogs
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/SimulationLog'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Creates a new log entry in the simulation
      operationId: postSimulationLog
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: SimulationLog
          in: body
          description: A log for a simulation
          required: true
          schema:
            $ref: '#/definitions/SimulationLog'
      responses:
        "200":
          description: Successfully added the item
          schema:
            $ref: '#/definitions/SimulationLog'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/outputs:
    get:
      description: Gets a list of all outputs for a simulation
      operationId: getSimulationOutputs
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/SimulationOutput'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Creates a new output for the simulation
      operationId: postSimulationOutput
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: SimulationOutput
          in: body
          description: An output for a simulation
          required: true
          schema:
            $ref: '#/definitions/SimulationOutput'
      responses:
        "200":
          description: Successfully added the item
          schema:
            $ref: '#/definitions/SimulationOutput'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/activities:
    get:
      description: Gets a list of all activities for a simulation
      operationId: getSimulationActivities
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/SimulationActivity'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Creates a new activity for the simulation
      operationId: postSimulationActivity
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: SimulationActivity
          in: body
          description: An activity for a simulation.  An activity represents the execution of a worker in the simulation pipeline.
          required: true
          schema:
            $ref: '#/definitions/SimulationActivity'
      responses:
        "200":
          description: Successfully added the item
          schema:
            $ref: '#/definitions/SimulationActivity'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /simulations/{id}/activities/{activityId}:
    get:
      description: Gets an activity for a simulation
      operationId: getSimulationActivity
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: activityId
          in: path
          description: activity identifier
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully found the item
          schema:
            $ref: '#/definitions/SimulationActivity'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    put:
      description: Updates an activity for a simulation
      operationId: putSimulationActivity
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: activityId
          in: path
          description: activity identifier
          required: true
          type: integer
          format: int32
        - name: SimulationActivity
          in: body
          description: An activity for a simulation.  An activity represents the execution of a worker in the simulation pipeline.
          required: true
          schema:
            $ref: '#/definitions/SimulationActivity'
      responses:
        "200":
          description: Successfully updated the item
          schema:
            $ref: '#/definitions/SimulationActivity'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations
    patch:
      description: Update fields within an activity
      operationId: patchActivity
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: activityId
          in: path
          description: activity identifier
          required: true
          type: integer
          format: int32
        - name: activityPatch
          in: body
          description: This endpoint uses JSON Patch, RFC 6092.
          required: true
          schema:
              type: array
              items:
                $ref: '#/definitions/PatchDocument'
      responses:
        "200":
          description: Successfully patched activity
          schema:
            $ref: '#/definitions/SimulationActivity'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation activity not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /porositysimulations:
    get:
      description: Gets a list of all porosity simulation
      operationId: getPorositySimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Posts a new porosity simulation
      operationId: postPorositySimulation
      parameters:
        - name: PorositySimulation
          in: body
          description: PorositySimulation fields required to add the simulation
          required: true
          schema:
            $ref: '#/definitions/PorositySimulation'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /porositysimulations/{id}:
    get:
      description: Get a porosity simulation
      operationId: getPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    put:
      description: Puts an updated porosity simulation (Only accepts updates to title, description, and tags once simulation is started)
      operationId: putPorositySimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: PorositySimulation
          in: body
          description: PorositySimulation fields required to update a simulation
          required: true
          schema:
            $ref: '#/definitions/PorositySimulation'
      responses:
        "200":
          description: Successfully updated a simulation
          schema:
            $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations
    delete:
      description: This will delete a porosity simulation and all its associated data including output, logs, and any results from completed simulations
      operationId: DeletePorositySimulation
      parameters:
        - name: id
          in: path
          description: ID of simulation
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a simulation
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /porositysimulations/{id}/children:
    get:
      description: Gets a list of all child simulations for a parent simulation
      operationId: getPorositySimulationChildren
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/PorositySimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /porositysimulations/{id}/cancel:
    put:
      description: Cancels a porosity simulation
      operationId: cancelPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /porositysimulations/{id}/start:
    put:
      description: Starts a porosity simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startPorositySimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /singlebeadsimulations:
    get:
      description: Gets a list of all single bead simulations for the active user
      operationId: getSingleBeadSimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Posts a new single bead simulation
      operationId: postSingleBeadSimulation
      parameters:
        - name: SingleBeadSimulation
          in: body
          description: SingleBeadSimulation fields required to add the simulation
          required: true
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /singlebeadsimulations/{id}:
    get:
      description: Get a single bead simulation
      operationId: getSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    put:
      description: Puts an updated single bead simulation (Only accepts updates to title, description, and tags once simulation is started)
      operationId: putSingleBeadSimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: SingleBeadSimulation
          in: body
          description: SingleBeadSimulation fields required to update a simulation
          required: true
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
      responses:
        "200":
          description: Successfully updated a simulation
          schema:
            $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations
    delete:
      description: This will delete a single bead simulation and all its associated data including output, logs, and any results from completed simulations
      operationId: DeleteSingleBeadSimulation
      parameters:
        - name: id
          in: path
          description: ID of simulation
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a simulation
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /singlebeadsimulations/{id}/children:
    get:
      description: Gets a list of all child simulations for a parent simulation
      operationId: getSingleBeadSimulationChildren
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/SingleBeadSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /singlebeadsimulations/{id}/cancel:
    put:
      description: Cancels a single bead simulation
      operationId: cancelSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /singlebeadsimulations/{id}/start:
    put:
      description: Starts a single bead simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startSingleBeadSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /thermalsimulations:
    get:
      description: Gets a list of all thermal simulations for the active user
      operationId: getThermalSimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Posts a new thermal simulation
      operationId: postThermalSimulation
      parameters:
        - name: ThermalSimulation
          in: body
          description: ThermalSimulation fields required to add a simulation
          required: true
          schema:
            $ref: '#/definitions/ThermalSimulation'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /thermalsimulations/{id}:
    get:
      description: Get a thermal simulation
      operationId: getThermalSimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    put:
      description: Puts an updated thermal simulation (Only accepts updates to title, description, and tags once simulation is started)
      operationId: putThermalSimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: ThermalSimulation
          in: body
          description: ThermalSimulation fields required to update a simulation
          required: true
          schema:
            $ref: '#/definitions/ThermalSimulation'
      responses:
        "200":
          description: Successfully updated a simulation
          schema:
            $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations
    delete:
      description: This will delete a thermal simulation and all its associated data including output, logs, and any results from completed simulations
      operationId: DeleteThermalSimulation
      parameters:
        - name: id
          in: path
          description: ID of simulation
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a simulation
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /thermalsimulations/{id}/children:
    get:
      description: Gets a list of all child simulations for a parent simulation
      operationId: getThermalSimulationChildren
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/ThermalSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /thermalsimulations/{id}/cancel:
    put:
      description: Cancels a thermal simulation
      operationId: cancelThermalSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /thermalsimulations/{id}/start:
    put:
      description: Starts a thermal simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startThermalSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /scanpatternsimulations:
    get:
      description: Gets a list of all scan pattern simulations for the active user
      operationId: getScanPatternSimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of items to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/ScanPatternSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    post:
      description: Posts a new scan pattern simulation
      operationId: postScanPatternSimulation
      parameters:
        - name: ScanPatternSimulation
          in: body
          description: ScanPatternSimulation fields required to add a simulation
          required: true
          schema:
            $ref: '#/definitions/ScanPatternSimulation'
      responses:
        "200":
          description: Successfully added a simulation
          schema:
            $ref: '#/definitions/ScanPatternSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /scanpatternsimulations/{id}:
    get:
      description: Get a Scan Pattern simulation
      operationId: getScanPatternSimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully retrieved simulation
          schema:
            $ref: '#/definitions/ScanPatternSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations
    put:
      description: Puts an updated scan pattern simulation (Only accepts updates to title, description, and tags once simulation is started)
      operationId: putScanPatternSimulation
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: ScanPatternSimulation
          in: body
          description: ScanPatternSimulation fields required to update a simulation
          required: true
          schema:
            $ref: '#/definitions/ScanPatternSimulation'
      responses:
        "200":
          description: Successfully updated a simulation
          schema:
            $ref: '#/definitions/ScanPatternSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations
    delete:
      description: This will delete a scan pattern simulation and all its associated data including output, logs, and any results from completed simulations
      operationId: DeleteScanPatternSimulation
      parameters:
        - name: id
          in: path
          description: ID of simulation
          required: true
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully deleted a simulation
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Not Found
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /scanpatternsimulations/{id}/children:
    get:
      description: Gets a list of all child simulations for a parent simulation
      operationId: getScanPatternSimulationChildren
      parameters:
        - name: id
          in: path
          description: simulation identifier
          required: true
          type: integer
          format: int32
        - name: offset
          in: query
          description: starting paging count; ex. offset of 60 will skip the first 60 items in the list
          required: false
          type: integer
          format: int32
          default: 0
        - name: limit
          in: query
          description: number of materials to return within the query
          required: false
          type: integer
          format: int32
          default: 10
        - name: status
          in: query
          description: simulation status for items retrieved.  If an array of items is sent, they are treated as "OR" operations.
            e.g. status=InProgress,Requested would yield a list of simulations that are in either state.
          required: false
          type: array
          items:
            type: string
            enum:
              - Draft
              - Requested
              - InProgress
              - Cancelled
              - Error
              - Success
        - name: sort
          in: query
          description: key:direction pairs for one or multiple field sort orders.  e.g. sort=key1:desc,key2:asc
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        "200":
          description: Successfully found the list of items
          headers:
            X-Pagination:
              type: string
              description: Contains paging information in json format - totalCount, totalPages
          schema:
            type: array
            items:
              $ref: '#/definitions/ScanPatternSimulation'
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - read:simulations

  /scanpatternsimulations/{id}/cancel:
    put:
      description: Cancels a Scan Pattern simulation
      operationId: cancelScanPatternSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully cancelled.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /scanpatternsimulations/{id}/start:
    put:
      description: Starts a Scan Pattern simulation.  If the simulation has been started before, start requests have no effect.
      operationId: startScanPatternSimulation
      parameters:
      - name: id
        in: path
        description: simulation identifier
        required: true
        type: integer
        format: int32
      responses:
        "200":
          description: Simulation was successfully started.
        "401":
          description: Not authorized
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: Simulation not found (id invalid)
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
      security:
        - simulationSecurity:
          - write:simulations

  /assumedstrainsimulations:
    get:
      description: Gets a list of all assumed strain simulations for the active user
      operationId: getAssumedStrainSimulations
      parameters:
        - name: organizationId
          in: query
          description: the organization id to get items for.  Must be provided as API callers only have access to items
            belonging to their organization.
          required: true
          type: integer
          format: int32
        - name: status
[...]
